:root {
  --color-main-1: hsl(13, 95%, 5%);
  --color-main-2: hsl(16, 97%, 16%);
  --color-main-3: hsl(18, 99%, 28%);
  --color-main-4: hsl(21, 100%, 39%);
  --color-main-5: hsl(23, 100%, 50%);
  --color-main-6: hsl(26, 100%, 61%);
  --color-main-7: hsl(28, 99%, 73%);
  --color-main-8: hsl(31, 97%, 84%);
  --color-main-9: hsl(33, 95%, 95%);
  --color-alternative-1: hsl(244, 95%, 5%);
  --color-alternative-2: hsl(247, 93%, 8%);
  --color-alternative-3: hsl(249, 92%, 11%);
  --color-alternative-4: hsl(252, 91%, 14%);
  --color-alternative-5: hsl(254, 91%, 17%);
  --color-alternative-6: hsl(257, 91%, 20%);
  --color-alternative-7: hsl(259, 92%, 23%);
  --color-alternative-8: hsl(262, 93%, 26%);
  --color-alternative-9: hsl(264, 95%, 29%);
  --color-red-1: hsl(0, 95%, 5%);
  --color-red-2: hsl(0, 97%, 16%);
  --color-red-3: hsl(0, 99%, 28%);
  --color-red-4: hsl(0, 100%, 39%);
  --color-red-5: hsl(0, 100%, 50%);
  --color-red-6: hsl(3, 100%, 61%);
  --color-red-7: hsl(5, 99%, 73%);
  --color-red-8: hsl(8, 97%, 84%);
  --color-red-9: hsl(10, 95%, 95%);
  --color-orange-1: hsl(29, 95%, 5%);
  --color-orange-2: hsl(32, 97%, 16%);
  --color-orange-3: hsl(34, 99%, 28%);
  --color-orange-4: hsl(37, 100%, 39%);
  --color-orange-5: hsl(39, 100%, 50%);
  --color-orange-6: hsl(42, 100%, 61%);
  --color-orange-7: hsl(44, 99%, 73%);
  --color-orange-8: hsl(47, 97%, 84%);
  --color-orange-9: hsl(49, 95%, 95%);
  --color-yellow-1: hsl(50, 95%, 5%);
  --color-yellow-2: hsl(53, 97%, 16%);
  --color-yellow-3: hsl(55, 99%, 28%);
  --color-yellow-4: hsl(58, 100%, 39%);
  --color-yellow-5: hsl(60, 100%, 50%);
  --color-yellow-6: hsl(63, 100%, 61%);
  --color-yellow-7: hsl(65, 99%, 73%);
  --color-yellow-8: hsl(68, 97%, 84%);
  --color-yellow-9: hsl(70, 95%, 95%);
  --color-lime-1: hsl(65, 95%, 5%);
  --color-lime-2: hsl(68, 97%, 16%);
  --color-lime-3: hsl(70, 99%, 28%);
  --color-lime-4: hsl(73, 100%, 39%);
  --color-lime-5: hsl(75, 100%, 50%);
  --color-lime-6: hsl(78, 100%, 61%);
  --color-lime-7: hsl(80, 99%, 73%);
  --color-lime-8: hsl(83, 97%, 84%);
  --color-lime-9: hsl(85, 95%, 95%);
  --color-green-1: hsl(110, 95%, 5%);
  --color-green-2: hsl(113, 97%, 16%);
  --color-green-3: hsl(115, 99%, 28%);
  --color-green-4: hsl(118, 100%, 39%);
  --color-green-5: hsl(120, 100%, 50%);
  --color-green-6: hsl(123, 100%, 61%);
  --color-green-7: hsl(125, 99%, 73%);
  --color-green-8: hsl(128, 97%, 84%);
  --color-green-9: hsl(130, 95%, 95%);
  --color-cyan-1: hsl(170, 95%, 5%);
  --color-cyan-2: hsl(173, 97%, 16%);
  --color-cyan-3: hsl(175, 99%, 28%);
  --color-cyan-4: hsl(178, 100%, 39%);
  --color-cyan-5: hsl(180, 100%, 50%);
  --color-cyan-6: hsl(183, 100%, 61%);
  --color-cyan-7: hsl(185, 99%, 73%);
  --color-cyan-8: hsl(188, 97%, 84%);
  --color-cyan-9: hsl(190, 95%, 95%);
  --color-blue-1: hsl(230, 95%, 5%);
  --color-blue-2: hsl(233, 97%, 16%);
  --color-blue-3: hsl(235, 99%, 28%);
  --color-blue-4: hsl(238, 100%, 39%);
  --color-blue-5: hsl(240, 100%, 50%);
  --color-blue-6: hsl(243, 100%, 61%);
  --color-blue-7: hsl(245, 99%, 73%);
  --color-blue-8: hsl(248, 97%, 84%);
  --color-blue-9: hsl(250, 95%, 95%);
  --color-purple-1: hsl(290, 95%, 5%);
  --color-purple-2: hsl(293, 97%, 10%);
  --color-purple-3: hsl(295, 99%, 15%);
  --color-purple-4: hsl(298, 100%, 20%);
  --color-purple-5: hsl(300, 100%, 25%);
  --color-purple-6: hsl(303, 100%, 30%);
  --color-purple-7: hsl(305, 99%, 35%);
  --color-purple-8: hsl(308, 97%, 40%);
  --color-purple-9: hsl(310, 95%, 45%);
  --color-pink-1: hsl(340, 95%, 76%);
  --color-pink-2: hsl(343, 97%, 79%);
  --color-pink-3: hsl(345, 99%, 82%);
  --color-pink-4: hsl(348, 100%, 85%);
  --color-pink-5: hsl(350, 100%, 88%);
  --color-pink-6: hsl(353, 100%, 91%);
  --color-pink-7: hsl(355, 99%, 94%);
  --color-pink-8: hsl(358, 97%, 97%);
  --color-pink-9: hsl(0, 95%, 100%);
  --color-white-1: hsl(20, 95%, 16%);
  --color-white-2: hsl(23, 53%, 27%);
  --color-white-3: hsl(25, 24%, 37%);
  --color-white-4: hsl(28, 6%, 48%);
  --color-white-5: hsl(30, 0%, 58%);
  --color-white-6: hsl(33, 6%, 69%);
  --color-white-7: hsl(35, 24%, 79%);
  --color-white-8: hsl(38, 53%, 90%);
  --color-white-9: hsl(40, 95%, 100%);
  --color-black-1: hsl(0, 95%, 0%);
  --color-black-2: hsl(0, 53%, 0%);
  --color-black-3: hsl(0, 24%, 0%);
  --color-black-4: hsl(0, 6%, 0%);
  --color-black-5: hsl(0, 0%, 0%);
  --color-black-6: hsl(3, 6%, 1%);
  --color-black-7: hsl(5, 24%, 3%);
  --color-black-8: hsl(8, 53%, 4%);
  --color-black-9: hsl(10, 95%, 5%);
  --color-gray-1: hsl(0, 95%, 5%);
  --color-gray-2: hsl(0, 53%, 16%);
  --color-gray-3: hsl(0, 24%, 28%);
  --color-gray-4: hsl(0, 6%, 39%);
  --color-gray-5: hsl(0, 0%, 50%);
  --color-gray-6: hsl(3, 6%, 61%);
  --color-gray-7: hsl(5, 24%, 73%);
  --color-gray-8: hsl(8, 53%, 84%);
  --color-gray-9: hsl(10, 95%, 95%);
  --color-brown-1: hsl(20, 95%, 5%);
  --color-brown-2: hsl(23, 97%, 10%);
  --color-brown-3: hsl(25, 99%, 15%);
  --color-brown-4: hsl(28, 100%, 20%);
  --color-brown-5: hsl(30, 100%, 25%);
  --color-brown-6: hsl(33, 100%, 30%);
  --color-brown-7: hsl(35, 99%, 35%);
  --color-brown-8: hsl(38, 97%, 40%);
  --color-brown-9: hsl(40, 95%, 45%);
}

/*# sourceMappingURL=colors.css.map */
