

.c-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1px solid hsl(0, 0%, 80%);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: hsl(208, 56%, 46%);

    &:hover {
      color: hsl(208, 56%, 31%);
    }
  }

  &--horizontal {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
    align-items: flex-start;
  }
}
