// FONT FAMILY
$font-sans-serif: "Arial", "Helvetica", sans-serif;
$font-serif: "Georgia", "Times New Roman", Times, serif;
$font-monospace: "Courier New", Courier, monospace;

// FONT SIZE
$font-size-xxxs: 8px;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;

// FONT WEIGHT
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// MARGIN
$margin-xxxs: 4px;
$margin-xxs: 8px;
$margin-xs: 12px;
$margin-s: 16px;
$margin-m: 24px;
$margin-l: 32px;
$margin-xl: 48px;
$margin-xxl: 64px;
$margin-xxxl: 96px;

// PADDING
$padding-xxxs: 4px;
$padding-xxs: 8px;
$padding-xs: 12px;
$padding-s: 16px;
$padding-m: 24px;
$padding-l: 32px;
$padding-xl: 48px;
$padding-xxl: 64px;
$padding-xxxl: 96px;

// BORDER RADIUS
$border-radius-xs: 2px;
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 16px;
$border-radius-xl: 32px;

// BORDER WIDTH
$border-width-xs: 1px;
$border-width-s: 2px;
$border-width-m: 4px;
$border-width-l: 8px;
$border-width-xl: 16px;

// BORDER-HEIGHT
$border-height-xs: 1px;
$border-height-s: 2px;
$border-height-m: 4px;
$border-height-l: 8px;
$border-height-xl: 16px;

